/* Bordered form */
.div-outer {
    border: 3px solid #f1f1f1;
    width: 40%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    padding: 20px 25px;
    
}
.float-left{
  float: left;
  width: 100%;
  padding-left: 42px;
}
form{
  margin: 0px;
}
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #1904aa;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 92%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}
.red{ 
    color: red;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;

}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
